In [129]:
listings = pd.read_csv('listings2.csv')
calendar = pd.read_csv('calendar.csv')

In [130]:
import pandas as pd
import numpy as np

In [131]:
listings.head()

,listing_id,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_acceptance_rate,...,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,17%,...,63,338,48,0,0,f,3,3,0,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,4869,LisaRoxanne,2008-12-07,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,69%,...,18,194,409,32,0,f,1,1,0,0
2,5121,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,7356,Garon,2009-02-03,"New York, New York, United States","I am an artist(painter, filmmaker) and curato...",100%,...,90,365,50,0,0,f,2,0,2,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,7378,Rebecca,2009-02-03,"Brooklyn, New York, United States","Rebecca is an artist/designer, and Henoch is i...",25%,...,12,123,2,1,0,f,1,1,0,0
4,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",8967,Shunichi,2009-03-03,"New York, New York, United States",I used to work for a financial industry but no...,100%,...,34,192,507,33,2,f,1,0,1,0

In [132]:
listings.shape

(38277, 48)

In [133]:
listings.isnull().sum()

listing_id                                          0
name                                               13
description                                      1192
neighborhood_overview                           15627
host_id                                             0
host_name                                          34
host_since                                         34
host_location                                     137
host_about                                      16149
host_acceptance_rate                            16486
host_is_superhost                                  34
host_neighbourhood                               7464
host_listings_count                                34
host_total_listings_count                          34
host_verifications                                  0
host_has_profile_pic                               34
host_identity_verified                             34
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                        0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms_text                                    107
bedrooms                                         3975
beds                                             2405
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                             18
maximum_minimum_nights                             18
minimum_maximum_nights                             18
maximum_maximum_nights                             18
minimum_nights_avg_ntm                             18
maximum_nights_avg_ntm                             18
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
dtype: int64

In [134]:
listings2 = listings.drop(['description','neighborhood_overview','host_name','host_about',\
               'host_acceptance_rate','host_is_superhost','host_verifications', 'host_has_profile_pic',\
                'host_identity_verified',\
               'number_of_reviews_ltm','number_of_reviews_l30d'], axis=1)

In [135]:
listings2.shape

(38277, 37)

In [136]:
listings2.head()

,listing_id,name,host_id,host_since,host_location,host_neighbourhood,host_listings_count,host_total_listings_count,neighbourhood_cleansed,neighbourhood_group_cleansed,...,availability_30,availability_60,availability_90,availability_365,number_of_reviews,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,2595,Skylit Midtown Castle,2845,2008-09-09,"New York, New York, United States",Midtown,8.0,8.0,Midtown,Manhattan,...,3,33,63,338,48,f,3,3,0,0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,2008-12-07,"New York, New York, United States",Clinton Hill,1.0,1.0,Bedford-Stuyvesant,Brooklyn,...,3,6,18,194,409,f,1,1,0,0
2,5121,BlissArtsSpace!,7356,2009-02-03,"New York, New York, United States",Bedford-Stuyvesant,1.0,1.0,Bedford-Stuyvesant,Brooklyn,...,30,60,90,365,50,f,2,0,2,0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,2009-02-03,"Brooklyn, New York, United States",Greenwood Heights,1.0,1.0,Sunset Park,Brooklyn,...,3,3,12,123,2,f,1,1,0,0
4,5178,Large Furnished Room Near B'way,8967,2009-03-03,"New York, New York, United States",Hell's Kitchen,1.0,1.0,Midtown,Manhattan,...,1,16,34,192,507,f,1,0,1,0